extends common/header

block body
	#loader
	.fill-screen.content
		nav.navbar.navbar-inverse
			.container-fluid
				.navbar-header
					a.navbar-brand(href='/')
						i.fa.fa-eye
						|  ICU
						h1 ICU
				.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
								i.fa.fa-user
								|  #{email}
							ul.dropdown-menu
								li
									a(href='#')#logoutLink
										i.fa.fa-sign-out
										|  Logout
								li
									a(href='#', data-email=email)#openUpdateUserForm
										i.fa.fa-user
										|  Change Password
		.fill-screen.ICU-body
			.ICU-side-nav.container-relative.pull-left
				ul.nav.nav-pills.nav-stacked
					li.nav-link.overview
						a(href='/') Main View
					li
						a(href='/') My Machines
					li
						a(href='/Alarms') Event/Alarms
			.ICU-content.container-relative.container-fluid
				.ICU-widget.col-sm-12.ICU-widget-full-page
					.ICU-widget-header
						.row
							.col-sm-4
								h4
									i.fa.fa-server.fa-fw
									|  My Machines
							.col-sm-8
								h4.align-right
									button(type='button', id='openAddMachineButton').btn.btn-success
										i.fa.fa-plus
									a(href='https://noob.tw')
										i.fa.fa-info-circle
					.ICU-widget-container.gateway-list
						.ICU-widget-wrapper
							.response-table
								table.ICU-widget-table.table.table-hover#machinesTable
									thead
										tr(celpadding='2')
											th.text-center Check
											th.text-center Name
											th IP
											th.text-center Status
											th Edit
											th Delete
											//- 	button.btn.btn-default(type='button') Select All
									tbody
	.modal.fade#addMachineForm(tabindex='-1', role='dialog')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
					h4.modal-title Add Machine
				.modal-body
					form
						.form-group
							input(name='machine-name', placeholder='Set your Machine Name').form-control
						.form-group
							input(name='machine-ip', placeholder='Machine IP').form-control
				.modal-footer
					button.btn.btn-success(type='button', id='addMachineButton') Add Machine
					button.btn.btn-default(type='button', data-dismiss='modal') Close
	.modal.fade#alert(tabindex='-1', role='dialog')
		.modal-dialog(role='document')
			.modal-content
				.modal-header#alertHeader
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
					h4.modal-title
				.modal-body#alertMessage
					p
				.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Close
	.modal.fade#checkDeleteMachine(tabindex='-1', role='dialog')
		.modal-dialog(role='document')
			.modal-content
				.modal-header#checkDeleteMachineHeader
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
					h4.modal-title
				.modal-body#checkDeleteMachineMessage
					p
				.modal-footer
					button.btn.btn-danger(type='button', id='confirmDeleteMachine') Go ahead anyway
					button.btn.btn-primary(type='button', data-dismiss='modal') No
	.modal.fade#editMachineForm(tabindex='-1', role='dialog')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
					h4.modal-title Add Machine
				.modal-body
					form
						.form-group
							input(name='edit-machine-name', placeholder='Set your Machine Name').form-control
				.modal-footer
					button.btn.btn-success(type='button', id='doEditMachineButton') Edit Machine
					button.btn.btn-default(type='button', data-dismiss='modal') Close
	.modal.fade#editUserForm(tabindex='-1', role='dialog')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
					h4.modal-title Change Password
				.modal-body
					form
						.form-group
							input(type='password', name='old-password', placeholder='Old Password').form-control
						.form-group
							input(type='password', name='new-password', placeholder='New Password').form-control
						.form-group
							input(type='password', name='new-password-check', placeholder='Confirm new password').form-control
				.modal-footer
					button.btn.btn-success(type='button', id='doUpdateUserButton') Edit Machine
					button.btn.btn-default(type='button', data-dismiss='modal') Close