extends common/header

block body
	#loader
	.fill-screen.content
		nav.navbar.navbar-inverse
			.container-fluid
				.navbar-header
					a.navbar-brand(href='/')
						i.fa.fa-eye
						|  ICU
						h1 ICU
				.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
								i.fa.fa-user
								|  #{email}
							ul.dropdown-menu
								li
									a(href='#')#logoutLink
										i.fa.fa-sign-out
										|  Logout
								li
									a(href='#', data-email=email)#openUpdateUserForm
										i.fa.fa-user
										|  User Information
		.fill-screen.ICU-body
			.ICU-side-nav.container-relative.pull-left
				ul.nav.nav-pills.nav-stacked
					li.nav-link.overview
						a(href='/') Main View
					li
						a(href='/') My Machines
					li
						a(href='/Alarms') Event/Alarms
			.ICU-content.container-relative.container-fluid
				.ICU-widget.col-sm-12.ICU-widget-full-page
					.ICU-widget-header
						.row
							.col-sm-4
								h4
									i.fa.fa-server.fa-fw
									|  #{name}
					.ICU-widget-container
						.ICU-widget-wrapper
							ul.nav.nav-tabs#machineInfoNavBar
								li.active#machineBaicInfoButton(role='presentation')
									a(href='#') Basic Info
								li#machineChartButton(role='presentation')
									a(href='#') Charts
							.container-fluid.page#machineInfoContent
								ul.list-group
									li.list-group-item.list-title OS:
										span.list-body#OS
									li.list-group-item.list-title UpTime:
										span.list-body#upTime
									li.list-group-item.list-title CPU Usage:
										span.list-body#cpuUsage
									li.list-group-item.list-title CPU Platform:
										span.list-body#cpuPlatform
									li.list-group-item.list-title CPU Model:
										span.list-body#cpuModel
									li.list-group-item.list-title CPU Cores:
										span.list-body#cpuCores
									li.list-group-item.list-title Load:
										span.list-body#load
									li.list-group-item.list-title Freemem:
										span.list-body#freemem
									li.list-group-item.list-title MAC:
										span.list-body#mac
							.container-fluid.page#machineGraphContent
								h3 CPU Usage
								div#graphCPU
								h3 Freemem
								div#graphFreemem
	.modal.fade#alert(tabindex='-1', role='dialog')
		.modal-dialog(role='document')
			.modal-content
				.modal-header#alertHeader
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
					h4.modal-title
				.modal-body#alertMessage
					p
				.modal-footer
					a.goHome.btn.btn-default(href='/', data-dismiss='modal') Close
	.modal.fade#editUserForm(tabindex='-1', role='dialog')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
					h4.modal-title Change Password
				.modal-body
					form
						.form-group
							input(type='password', name='old-password', placeholder='Old Password').form-control
						.form-group
							input(type='password', name='new-password', placeholder='New Password').form-control
						.form-group
							input(type='password', name='new-password-check', placeholder='Confirm new password').form-control
				.modal-footer
					button.btn.btn-success(type='button', id='doUpdateUserButton') Change Password
					button.btn.btn-default(type='button', data-dismiss='modal') Close