#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.content {
	display: none;
	animation-name: showFromBottom;
	animation-duration: 1s;
}


@keyframes showFromBottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.loginBody {
	background-image: url(/public/img/loginBackground.png);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	z-index: -1
}

video {
	z-index: -999
}

.registerBody {
	background-image: url(/public/img/registerBackgournd.png);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	z-index: -1
}

.panel-heading h1 {
	text-align: center;
}

.btn-facebookLogin {
	background-color: #3B5998;
	color: #fff
}

nav h1 {
	text-indent: -99999px;
}

.fill-screen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}

.container-relative {
	position: relative;
	height: 100%;
	overflow: auto;
}

.pull-left {
	float: left;
}

.nav-pills {
	font-size: 2rem
}

.align-right {
	text-align: right;
}

.col-sm-8 h4.align-right a {
	margin-left: 0.5rem
}

.text-center {
	text-align: center;
}


.ICU-body {
	top: 50px;
	background-color: #eff3f5
}

.ICU-side-nav {
	background-color: #fff;
	border-right: 3px solid;
	border-color: #CFDBE2;
}

.ICU-side-nav ul{
	width: 250px;
}

.overview {
	font-size: 2.5rem;
	border-bottom: 2px solid;
	border-color: #CFDBE2
}

.ICU-widget {
	position: relative;
	float: none;
	min-height: 300px;
	height: 30%;
	margin: 1% auto;
	background-color: #fff;
    border: 1px solid transparent;
    border-color: #CFDBE2;
    border-top-width: 3px;
    border-radius: 4px;
}

.ICU-widget-full-page {
	height: 95%;
}

.ICU-widget-header .row {
	margin: 0;
}

.ICU-widget-header .row h4 {
	font-size: 2rem;
	text-transform: uppercase;
}

.search-gateway {
	max-width: 100%;
}

.ICU-widget-container {
	height: 85%;
	height: calc(100% - 54px);
}

.ICU-widget-wrapper {
	margin: auto;
	float: none;
	height: 100%;
	overflow: auto;
}

.ICU-widget-table {
	margin-top: 2rem;
	width: 100%;
}

@media screen and (max-width: 768px) {
    .ICU-side-nav {
		float: none !important;
		height: auto;
	}

	.ICU-side-nav ul {
		width: 100%;
		text-align: center;
	}

	.ICU-content {
		overflow: initial;
		margin-top: 1rem;
	}
}

path {
    stroke: #77ac98;
    stroke-width: 3;
    fill: none;
}
.axis {
    shape-rendering: crispEdges;
}
.x.axis line {
    stroke: lightgrey;
}
.x.axis .minor {
    stroke-opacity: .5;
}
.x.axis path {
	stroke: #000;
    stroke-dasharray: 0,1000;
}
.y.axis line,
.y.axis path {
    fill: none;
    stroke: #000;
}

.list-title{
	font-weight: 800;
}

.list-body{
	padding-left: .5rem;
	font-weight: 400;
}

.online{
	color: green;
	font-size: 2rem;
}

.offline{
	color: red;
	font-size: 2rem;
}