doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		block title
			title Dashboard

		link(rel='stylesheet', href='/public/css/bootstrap.min.css')
		link(rel='stylesheet', href='/public/css/font-awesome.min.css')
		link(rel='stylesheet', href='/public/css/all.css')
		script(src='/public/js/jquery-3.1.1.min .js')
		script(src='/public/js/sha256.min.js')
		script(src='/public/js/bootstrap.min.js')
		script(src='/public/js/all.js')
		script(src='http://mbostock.github.com/d3/d3.v2.js')
	body
		block body